body{
    font-family: "optima", sans-serif;
    background-image: linear-gradient(to right, #D4145A, #FBB03B);
}


/* Formatting the top bar */
div.topbar{
	width: 90%;
	height: 70px;
	border: 2px solid black;
	margin: 15px auto;
	padding-bottom: 5px;
	background-color: honeydew;
	color: crimson;
	text-shadow: 2px 2px 8px gray;

}

/* Formatting logo */
div.logoimg{
	float: left;
	margin-right: 10px;
	margin-top: 3px;
}

/* Display text next to logo */
div.pagetop{
	display: inline-block;
}

/* Following nav sections are for the home/my profile/sign out bar */
nav {
	float: right;
	color: white;
	margin-top: 30px;
}

nav a{
	color: white;
	background-image: linear-gradient(to right, #D4145A, #FBB03B);
	border: 2px solid black;
	text-decoration: none;
	margin: 0 10px 0 10px;
	padding: 15px;
	border-radius: 4px;
}

nav a:hover{
	border: 2px solid orange;
	cursor: pointer;
}

#empList {
	width: 90%;
	margin: 15px auto;
	background-color: honeydew;
	border: 3px solid black;
}


h1 {
	font-size: 45px;
	margin-bottom: 10px;
}

.center {
	border: 2px solid black;
	background-color: honeydew;
	margin-left: 17em;
	margin-right: 20em;

}

hr {
    border-top: 6px solid crimson;
}

.heading {
	color: crimson;
	text-shadow: 2px 2px 8px gray;
	text-align: center;
	
}

table {
	width: 732px;
}

.list{
    font-size: 25px;
	color: black;
	
}

td {
	border-bottom: 1pt dotted crimson;
}

.picture {
	border: 2px solid black;
	height: 100px;
	width: 100px;
}

a {
	color: black;
}

footer {
	width:	90%;
	margin: 15px auto;
	background-color: honeydew;
	border: 3px solid black;
	overflow: auto;
}

footer div {
	width: 100%;
	margin: auto;
	text-align: center;
}

footer div a img {
    margin: 10px;
    margin-bottom: 5px;
    border: 3px solid black;
    border-radius: 10px;
    height: 45px;
    width: 45px;
}

footer div a img:hover {
    margin: 10px;
    margin-bottom: 5px;
	border: 3px solid orange;
	border-radius: 10px; 
}