/* Body font and background */
body{
    font-family: Calibri, sans-serif;
    background-color: lightskyblue;
}

/* Formatting the top bar */
div.topbar{
	width: 90%;
	padding: 5px;
	height: 70px;
	border: 1px solid #ccc;
	margin: 15px auto;
	background-color: white;
	color: midnightblue;
}

/* Formatting logo */
div.logoimg{
	float: left;
	margin-right: 10px;
}

/* Display text next to logo */
div.pagetop{
	display: inline-block;
}

/* Following nav sections are for the home/my profile/sign out bar */
nav {
	display: inline-block;
	float: right;
	color: white;
	margin-top: 30px;
}

nav a{
	color: white;
	background-color: steelblue;
	text-decoration: none;
	margin: 0 10px 0 10px;
	padding: 15px;
	border-radius: 4px;
}

nav a:hover{
	background-color: dodgerblue;
}

#myProfile {
	cursor: pointer;
}

hr {
	border-top: 8px solid midnightblue;
	width: 95%;
}

div.friendmeat{
	width: 90%;
	background-color: white;
	border: 3px solid #f1f1f1;
	margin: 15px auto;
	color: midnightblue;
}

div.friendhead{
	font-size: x-large;
	text-align: center;
}

div.friendsTable{
	margin: auto;
	width: 100%;
	padding: 10px;
	margin: 15px;	
	color: midnightblue;
}

table {
	margin: auto;
	margin-left: 45px;
	width: 90%;
}

div.friendsTable img{
	border: 4px solid midnightblue;
	border-radius: 14px;
}

td{
	background-color: rgb(196, 239, 252);
	border: 3px solid #f1f1f1;
	font-size: x-large;
	color: midnightblue;
}

td a{
	color: midnightblue;
	background-color: rgb(196, 239, 252);
	text-decoration: none;
	margin: 0 10px 0 10px;
	padding: 15px;
	display: table-cell;
	vertical-align: middle;
}

td a:hover{
	color: dodgerblue;
}
