/* Body font and background */
body{
    font-family: Calibri, sans-serif;
    background-color: lightskyblue;
}

/* Formatting the top bar */
div.topbar{
	width: 100%;
	height: 70px;
	border: 1px solid #ccc;
	margin: 15px auto;
	background-color: white;
	color: midnightblue;
}

/* Formatting logo */
div.logoimg{
	float: left;
	margin-right: 10px;
}

/* Display text next to logo */
div.pagetop{
	display: inline-block;
}

/* Following nav sections are for the home/my profile/sign out bar */
nav {
	display: inline-block;
	float: right;
	color: white;
}

nav a{
	color: midnightblue;
	text-decoration: none;
	margin: 0 10px 0 10px;
}

nav a:hover{
	color: dodgerblue;
	text-decoration: underline;
}

div.friendmeat{
	background-color: white;
	border: 3px solid #f1f1f1;
	margin: 15px auto;
	color: midnightblue;
}

div.friendhead{
	font-size: x-large;
	text-align: center;
}


div.list{
	background-color: lightskyblue;
	list-style-type: none;
	padding: 10px;
	border: 3px solid #f1f1f1;
	margin: 15px;	
	color: midnightblue;
}

div.list img{
	border: 4px solid midnightblue;

}

li{
	background-color: antiquewhite;
	border: 3px solid #f1f1f1;
	margin: 15px 15px 15px 15px;
	font-size: x-large;
	color: midnightblue;
}

li a{
	color: midnightblue;
	background-color: antiquewhite;
	text-decoration: none;
	margin: 0 10px 0 10px;
	padding: 15px;
	display: table-cell;
	vertical-align: middle;
}

li a:hover{
	color: deeppink;
}
