/* Body font and background */
body {
    font-family: "optima", sans-serif;
    background-image: linear-gradient(to right, #D4145A, #FBB03B);
}

/* Formatting the top bar */
div.topbar {
    width: 90%;
    height: 70px;
    border: 2px solid black;
    margin: 15px auto;
    padding-bottom: 5px;
    background-color: honeydew;
    color: crimson;
    text-shadow: 2px 2px 8px gray;
}

/* Formatting logo */
div.logoimg {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

/* Display text next to logo */
div.pagetop {
	display: inline-block;
}

/* Following nav sections are for the home/my profile/sign out bar */
nav {
	display: inline-block;
	float: right;
	color: white;
	margin-top: 30px;
}

/* Text inside the buttons on the Topbar */
nav a {
	color: white;
	background-image: linear-gradient(to right, #D4145A, #FBB03B);
	border: 2px solid black;
	text-decoration: none;
	margin: 0 10px 0 10px;
	padding: 15px;
	border-radius: 4px;
}

nav a:hover {
	border: 2px solid orange;
	cursor: pointer;
}

hr {
	border-top: 8px solid crimson;
	width: 95%;
}

/* div around "Python Partners" */
div.groupsmeat {
	width: 90%;
	background-color: honeydew;
	border: 3px solid black;
	margin: 15px auto;
	color: crimson;
}

/* Text inside the groupsmeat div */
div.groupshead {
	font-size: x-large;
	text-align: center;
}

div.body{
	background-color: white;
	border: 3px solid black;
	border-radius: 4px;
	margin: 15px auto; 
	text-align: center;
	width: 70%;
	padding: 10px;
}

footer {
	width:	90%;
	margin: 15px auto;
	background-color: honeydew;
	border: 3px solid black;
	overflow: auto;
}

footer div {
	width: 100%;
	margin: auto;
	text-align: center;
}

footer div a img {
    margin: 10px;
    margin-bottom: 5px;
    border: 3px solid black;
    border-radius: 10px;
    height: 45px;
    width: 45px;
}

footer div a img:hover {
    margin: 10px;
    margin-bottom: 5px;
	border: 3px solid orange;
	border-radius: 10px; 
}