/* Body font and background */
body{
    font-family: Calibri, sans-serif;
    background-color: lightskyblue;
}

/* Sizing login form */
div.home{
    width: 69%;
    margin: 15px auto;
    background-color: white;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Hover effect for linkss */
a:hover {
    background-color: dodgerblue;
    color: white;
    opacity: .9;
}

/* Friends Link*/
.FindMentor {
    background-color: steelblue;
    padding: 12px;
    cursor: pointer;
    font-size: x-large;
    color: white;
}

/* Friends Link*/
.Friends {
    background-color: steelblue;
    padding: 12px;
    margin-left: 50px;
    cursor: pointer;
    font-size: x-large;
    color: white;
}

/* Profile Link*/
.Profile {
    background-color: steelblue;
    padding: 12px;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
    font-size: x-large;
    color: white;
}

/* Log Off Link*/
.LogOff {
    background-color: steelblue;
    padding: 12px;
    cursor: pointer;
    font-size: x-large;
    color: white;
}

/* Body paragraph*/
.body{
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: medium;
    color: midnightblue;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    width: 80%;
}

/* Title */
.title {
    font-family: Verdana, sans-serif;
    font-size: 150%;
    text-align: center;
    color: midnightblue;
}

h1 {
    margin-bottom: 0px;
}

hr {
    border-top: 8px solid midnightblue;
    width: 95%;
}

/* Center the logo image inside this container */
.imgcontainer {
    text-align: center;
    margin: auto;
}

/* Logo image */
img.logo {
    width: 25%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 95%;
    text-align: center;
}

.container a {
    padding: 15px;
    border-radius: 4px;
}