body {
    font-family: "optima", sans-serif;
    background-image: linear-gradient(to right, #D4145A, #FBB03B);
}
.material {
    width: 90%;
    margin: 15px auto;
    background-color: honeydew;
    border: 3px solid black;
}

.center {
    width: 90%;
    margin: auto;
    color: crimson;
    text-shadow: 2px 2px 8px gray;
    padding: 25px;
}

.heading {
    text-align: center;
    border-radius: 4px;
}

.data {
    float: left;
    padding: 35px;
    margin: 35px;
    background-color: honeydew;
    border-radius: 4px;
    border: 3px solid black;
}

.tableau {
    float: left;
    padding: 35px;
    margin: 35px;
    background-color: honeydew;
    border-radius: 4px;
    border: 3px solid black;
}

.python {
    float: left;
    padding: 35px;
    margin: 35px;
    background-color: honeydew;
    border-radius: 4px;
    border: 3px solid black;
}

img {
    height: 110px;
    width: 180px;
    margin: auto;
}

div.topbar{
	width: 90%;
	height: 70px;
	border: 2px solid black;
	margin: 15px auto;
	background-color: honeydew;
	color: crimson;
	text-shadow: 2px 2px 8px gray;
}

/* Formatting logo */
div.logoimg {
    float: left;
    margin-right: 10px;
}

/* Display text next to logo */
div.pagetop {
    display: inline-block;
}

/* Following nav sections are for the home/my profile/sign out bar */
nav {
	display: inline-block;
	float: right;
	color: black;
	margin-top: 30px;
	
}

nav a{
	color: white;
	background-image: linear-gradient(to right, #D4145A, #FBB03B);
	border: 2px solid black;
	text-decoration: none;
	margin: 0 10px 0 10px;
	padding: 15px;
	border-radius: 4px;
}

nav a:hover{
	border: 2px solid orange;
	cursor: pointer;
}